/* GENERAL */
ol,ul
{
    list-style:none;
    margin:0px;
    padding:0px;
}

a
{
	text-decoration:none;
}

body 
{
    min-height: 100%;
	min-width: 100%;
	margin : 0px;
    padding : 0px;
	position: relative;
}


/* HEADER */
header
{
	border-bottom: 1px ridge #365ebf;
	background: #264284; /* Old browsers */
	background: -moz-linear-gradient(top,  #264284 0%, #365ebf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264284)
              , color-stop(100%,#365ebf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #264284 0%,#365ebf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #264284 0%,#365ebf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #264284 0%,#365ebf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #264284 0%,#365ebf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264284'
            , endColorstr='#365ebf',GradientType=0 ); /* IE6-9 */
	padding: 15px 0px 18px 0px;
}

header img
{
	margin-left: 140px;
}


/* NAV */
nav
{
    background:#264284;
    padding: 20px 10px 10px 140px;
    border-bottom: 1px ridge rgb(214, 216, 230);
    -webkit-box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
       -moz-box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
            box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
	text-decoration:none;
}

nav ul li
{
    display:inline-block;
    line-height: 1.8em;
}

nav ul li a
{
    color: rgb(103, 141, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 18px 11px 17px 14px;

}

nav  ul li a[current] 
{
    color:white;
}

.change_lang ul li
{
	font-size:14px;
	font-family: Arial, Helvetica, sans-serif;
	color:#333;
	margin-top:-45px;
	margin-right: 10px;
	
}

.change_lang ul li a
{
	color:#333;

}

.change_lang ul li:last-child
{
	font-family: Arial, Helvetica, sans-serif;
	float:right;
	font-size: 14px;	
	display: inline-block;
	padding: 4px 12px;

	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	
}


/*FOOTER*/
footer
{
    clear:both;
    background:#264284;
    text-align:center;
    padding:10px;
    color:rgb(103, 141, 223);
    font-family: Arial, Helvetica, sans-serif;
	position: relative; 
	bottom: 0; 
	left: 0; 
	right: 0;
	
}

footer li
{
    margin:5px 10px;
    display:inline-block;
}

footer li a
{
    color:rgb(103, 141, 223);
    font-size:16px;
}

footer ul li a[current] 
{
    color:white;
}


/*RESPONSIVE*/

@media screen and (max-width: 800px) {

	header img
	{
		width: 40%;
	}
	
	nav ul li a
	{
	font-size: 12px;
	}
	
	footer li a
	{
    font-size:12px;
	}
}
