<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ url_for('static', filename='base.css') }}" 
            rel="stylesheet" type="text/css"  media="all" />
        <link href="{{ url_for('static', filename='home.css') }}" 
            rel="stylesheet" type="text/css"  media="all" />
    <title>{% block titre %}Knowledger{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/knldg_icone.ico') }}" />

	{% block head %}{% endblock %}
	</head>
	
	<body>
	{% block header %}
		<header>
          <a ><img src="{{ url_for('static', filename='images/logo.png') }}" 
                        title="logo" /></a>
		</header>
        
        <nav>
            <ul>
                <li><a href="/" {% if page == 1 %} current='1' {% endif %}>{{ home }}</a></li>
                <li><a href="/articles" {% if page == 4 %} current='1' {% endif %}  >Articles</a></li>
                <li><a href="/about" {% if page == 2 %} current='1' {% endif %}  >{{ about }}</a></li>
                <li><a href="/contact" {% if page == 3 %} current='1' {% endif %}>Contact</a></li>
            </ul>
		</nav>
	{% endblock %}
		
		{% block sidebar %}
        {#
        <aside>
				<h4>Categories</h4>
				<ul>
            <li><img src="{{ url_for('static', filename='images/pointer.png') }}" 
            /><a>Programming </a></li>
            <li><img src="{{ url_for('static', filename='images/pointer.png') }}" 
            /><a>Bitcoin</a></li>
            <li><img src="{{ url_for('static', filename='images/pointer.png') }}" 
            /><a>Other</a></li>
				</ul>
            </aside> 
         #}
		{% endblock %}

		{% block page %}
        {% endblock %}

	{% block footer %}
        <footer>
             <ul>
                 <li><a href="/" {% if page == 1 %} current='1' {% endif %}       >{{ home }}</a></li>
                <li><a href="/articles" {% if page == 4 %} current='1' {% endif %}  >Articles</a></li>
                 <li><a href="/about" {% if page == 2 %} current='1' {% endif %}  >{{ about }}</a></li>
                <li><a href="/contact" {% if page == 3 %} current='1' {% endif %}>Contact</a></li>
            </ul>           
            <p>&copy; 2016 KnowLedger</p>
        </footer>
	{% endblock %}
    </body>
</html>

